.header{
  position: relative;
  width: 100%;
  height: 60vh;
  top: 0;
  left: 0;
  background-image: url("../images/header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header-container{
position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0 ,0 ,0 ,0.2);
  z-index: 1000;
}
.top-header {
  background: #040E27;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  /*z-index: 1000;*/
}
.top-header-container{
  color: #AAB1B7;
  height: 1.5rem;
  padding: 0 .5rem ;
}
.top-header-socialMedia{
  font-size: .8rem;
}
.top-header-socialMedia > span:hover{
  color: #FFFFFF;
  transition: all .5s ease;
}
.top-header-contact {
  font-size: .6rem;
}
.top-header-contact > span:hover{
  color: #FFFFFF;
  transition: all .5s ease;
}
.navbar {
  background: #040E27;
  position: fixed;
  width: 100%;
  top: 1.5rem;
  /*filter: blur(8px);*/
  /*-webkit-filter: blur(8px);*/

}
.navbar-container{
  color: #AAB1B7;
  height: 1.5rem;
  padding: 0 .5rem ;
}
.navbar-menu{
  color: #AAB1B7;
  font-size: 1rem;
  margin-right: .2rem;
}
.navbar-menu:hover{
  color: #FFFFFF;
  transition: all .5s ease;
}
.navbar-link{
  color: #AAB1B7;
  margin-left: .5rem;
  font-size: .9rem;
}
.navbar-link:nth-child(1){
  margin-right: .2rem;
}
.navbar-link-active{
  color: #ffffff!important;
}
.navbar-link-active:hover{
  color: #AAB1B7!important;
  transition: all .5s ease;
}
.navbar-link:hover{
  color: #FFFFFF;
  transition: all .5s ease;
}
.navbar-section-dropDown{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: .9rem;
  margin-top: .6rem;
  width: 12rem;
  border:none;
  border-radius: .5rem;
}
.navbar-section-dropDown-item{
  background: #040E27;
  border-radius: .5rem;
}
.navbar-section-dropDown-item:hover{
  background: #040E27;
  opacity: .7;
  transform: scale(1.011);
  transition: all .5s ease;
}
.navbar-section-dropDown > span{
  color: #AAB1B7;
  font-size: .8rem;
  line-height: 1.8rem;
  border-bottom: 1px solid #DCDCDC;
  width:100%;
  text-align: center;
}
.navbar-section-dropDown span:first-of-type{
  border-top: 1px solid #DCDCDC;
}
.navbar-section-dropDown > span:hover{
  color: #ffffff;
  transition: all .5s ease;
}
.navbar-extra-dropDown{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  left: .9rem;
  margin-top: .6rem;
  width: 12rem;
  background: darkcyan;
}
.navbar-extra-dropDown > span{
  color: #AAB1B7;
  font-size: .8rem;
  line-height: 1.8rem;
  border-bottom: 1px solid #DCDCDC;
  width:100%;
  text-align: center;
}
.navbar-extra-dropDown > span:hover{
  color: #ffffff;
  transition: all .5s ease;
}
.search-icon{
  font-size: 1rem;
  color: #AAB1B7;
}
.search-icon:hover{
  color: #ffffff;
  transition: all .5s ease;
}
.navbar-search-area{
  border: 1px solid #DCDCDC;
  border-radius: 5rem;
  padding: .2rem .5rem;
  background: rgba(240, 240, 240, .3);
}
.navbar-search-area > i{
  color: #ffffff;
  font-size: .8rem;
}
.navbar-search-input{
  color: #FFFFFF;
  font-size: .8rem;
  background: transparent;
  border: none;
  outline: none;
  padding: 0 .3rem;
}
.navbar-user {
  color: #AAB1B7;
  font-size: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: .3rem;
}
.navbar-user:hover{
  color: #FFFFFF;
  transition: all .5s ease;
}
.main-sidebar-container{
  position: fixed;
  background: rgba(0, 0, 0, .8);
  top: 4rem;
  right: 0;
  width: 16rem;
  height: 100%;
  z-index: 10000;
  display: none;
}
.main-sidebar-wrapper{
  height: calc(100vh - 3.5rem);
  overflow: auto;
}
.main-sidebar-wrapper::-webkit-scrollbar {
  display: none;
}
.sidebar-link{
  color: #AAB1B7;
  font-size: 1rem;
  padding-right: 1.5rem;
  margin-bottom: 1rem;
}
.sidebar-link:hover{
  color: #FFFFFF;
  transition: all .5s ease;
}
.sidebar-link > i{
  font-size: .8rem;
  margin-left: .2rem;
}
.sidebar-group-link {
  color: #AAB1B7;
  font-size: 1rem;
}
.sidebar-dropdown-toggle:hover {
  color: #ffffff!important;
  transition: all .5s ease;
}
.sidebar-dropdown{
  padding-top:.5rem;
  height: 0;
  display: none;
}
.sidebar-dropdown a{
  color: #AAB1B7;
  font-size: .8rem;
  display: block;
  padding-right: 2.5rem;
  line-height: 1.2rem;
}
.sidebar-dropdown a:hover{
  color: #FFFFFF;
  transition: all .5s ease;
}
.sidebar-dropdown a:before{
  content: '»';
  padding-left: .5rem;
}
.sidebar-dropdown-active{
  border-right: 4px solid #FFFFFF;
}
.sidebar-dropdown-active>.sidebar-dropdown{
  display: block!important;
  height: auto!important;
}
.main-body {
  background: #F5F5F5;
  width: 100%;
}
.main-news-container {
  flex-wrap: wrap;
}
.news-box {
  text-align: center;
  background: rgba(0, 0, 0, .8);
  border: none;
  border-radius: .5rem;
  margin: .5rem 0;
}
.news-box:hover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, .8)0, rgba(0, 0, 0, .65)40%);
  transform: scale(1.011);
  transition: all .5s ease;
}
.news-box:hover .news-more{
  color: #ffffff;
  transition: all .5s ease;
}
.news-title{
  font-size: 1rem;
  color: #FFFFFF;
  margin-bottom: 1rem;
}
.news-subTitle{
  font-size: .8rem;
  color: #f3f3f3;
}
.news-more {
  font-size: .8rem;
  color: #AAB1B7;
}
.intro-title{
  font-size: 1rem;
  color: #040E27;
  text-align: center;
}
.intro-text{
  background: #FFFFFF;
  color: #040E27;
  font-size: .8rem;
  padding: 1rem ;
  border-radius: .5rem;
}
.main-gallery {
  height: 1500px;
}
.main-gallery-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6,1fr);
  gap: .5rem;
  height: 100%;
}
.gallery-item-hover:hover{
  transform: scale(1.011);
  transition: all .5s ease;
}
.gallery-item-hover:hover .gallery-overlay-dark{
  background: none;
  transition: all .5s ease;
}
.bg-img1{
  background-image: url("../images/1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: .5rem;
  border:none;
  outline: none;
}
.bg-img2{
  background-image: url("../images/2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: .5rem;
  border:none;
  outline: none;
}
.bg-img3{
  background-image: url("../images/3.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: .5rem;
  border:none;
  outline: none;
}
.bg-img4{
  background-image: url("../images/4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: .5rem;
  border:none;
  outline: none;
}
.bg-img5{
  background-image: url("../images/5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: .5rem;
  border:none;
  outline: none;
}
.bg-img6{
  background-image: url("../images/6.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: .5rem;
  border:none;
  outline: none;
}
.main-contact {
  background-image: url("../images/contact1.jpg");
  background-size: cover;
  background-position: calc(20%);
  background-repeat: no-repeat;
  height: 850px;
}
.main-contact-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .6);
  width: 100%;
  height: 100%;
  z-index: 9;
}
.contact-title {
  color: #FFFFFF;
  font-size: 1rem;
}
.contact-info{
  color: #AAB1B7;
  font-size: .8rem;
}
.contact-content-info{
  color: #AAB1B7;
  font-size: .8rem;
}
.contact-form-container{
  text-align: center;
}
.contact-form-container:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: rgba(248 , 248 , 240 , .1);
  width: 100%;
  height: 100%;
  z-index: -10;
}
.contact-form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
}
.form-title {
  color: #FFFFFF;
  font-size: 1rem;
}
.form-label{
  color: #FFFFFF;
  font-size: 1rem;
  border: 1px solid #FFFFFF;
  border-radius: .5rem;
  padding: .2rem .2rem;
  background: rgba(0, 0, 0, .2);
}
.form-input {
  font-size: .9rem;
  color: #FFFFFF;
  padding: .3rem .8rem;
  background-color: transparent;
  border: none;
  outline: none;
}
.form-btn{
  background: #FFFFFF;
  color: #040E27;
  font-size: 1rem;
  padding: .45rem 6.8rem;
  border: none;
  outline: none;
  border-radius: .5rem;
}
.form-btn:hover{
  background: transparent;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  transition: all .5s ease;
}
.footer{
  background: #040E27;
  /*text-align: center;*/
}
.footer-lists-item{
  display: flex;
  justify-content: space-between;
}
.footer-list-title {
  display: block;
  font-size: 1rem;
  color: #FFFFFF;
  line-height: 1.5rem;
  margin-bottom: .5rem;
}
.footer-list-link {
  color: #AAB1B7;
  font-size: .8rem;
  display: block;
  line-height: 1.5rem;
}
.footer-list-link:hover{
  color: #FFFFFF;
  transition: all .5s ease;
}
.footer-lists-item {
  margin-bottom: 1rem;
}
.footer-contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-contact-address {
  text-align: center;
}
.contact-address{
  display: block;
  line-height: 1.5rem;
}
.contact-address i{
  color: #FFFFFF;
  font-size: 1rem;
  margin-left: .2rem;
}
.contact-address span{
  color: #AAB1B7;
  font-size: .8rem;
}
.footer-map{
  width: 12rem;
  height: 8rem;
  margin-top:1rem;
  border:1px solid white;
  /*outline: none;*/
  border-radius: .5rem;
}
iframe {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: .5rem;
  zoom:.8;
}
.fixed-bottom-menu {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}
.bottom-menu-container {
  background: rgba(0, 0, 0, .8);
}
.bottom-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom-menu-icon {
  font-size: 1.2rem;
  color: #AAB1B7;
  margin: 1rem 1rem;
}
.bottom-menu-icon:hover {
  color: #fff;
  transition: all .5s ease;
}
