
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 575.98px) {
  .footer-lists-item {
    justify-content: space-around;
  }
}
@media only screen and (min-width: 767.98px){
  .main-news-container {
    flex-wrap: nowrap;
    padding: 0;
  }
  .news-box:nth-child(2){
    margin: auto 2px;
  }
  .main-gallery{
    height: 800px;
  }
  .main-gallery-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: .5rem;
    height: 100%;
  }
  .gallery-item1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .gallery-item2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .gallery-item3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .gallery-item4 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .gallery-item5 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .gallery-item6 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .main-contact {
    height: 500px;
  }
  .main-contact-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  .main-contact-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .contact-text-content {
    display: flex;
  }
  .contact-content-info{
    width: 95%;
  }
  .contact-form-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }
  .main-contact-form {
    width: 40%;
  }
  .footer-lists{
    display: flex;
    justify-content: space-around;
  }
  .footer-lists-item {
    width: 50%;
  }
  .footer-contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-contact-address {
    text-align: right;
  }
}
@media only screen and (min-width: 991.98px){
  .main-gallery-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: .5rem;
    height: 100%;
  }
  .gallery-item1 {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .gallery-item2 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .gallery-item3 {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .gallery-item4 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .gallery-item5 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .gallery-item6 {
    grid-column: 3/4;
    grid-row: 3/4;
  }
}

